# macOS
.DS_Store

# IntelliJ / IDEA
.idea/
*.iml

# VS Code
.vscode/

# SBT / Scala / Mill
target/
**/target/
streams/
project/target/
project/project/
mill/target/
project/
task-temp-directory/
.bloop/

# Build / IDE
*.class
*.log
*.tmp

# Other
node_modules/
*.swp
.metals/
generated/
out/
test_run_dir/
.bsp/